// for XL devices
@media (max-width: 1200px) {

}

// for MEDIUM devices
@media (max-width: 991px) {
    .promo {
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
}

// for SMALL devices
@media (max-width: 767px) {
    .promo {
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 16px;
        }
    }
    .consultation {
        position: relative;
        &__descr {
            font-size: 18px;
            line-height: 20px;
            text-align: center;
        }
    }
    .title {
        &_left {
            text-align: center;
            min-width: 350px;
            font-size: 26px;
            line-height: 40px;
        }
    }
    .feed-form {
        position: absolute;
        left: 25%;
        transform: translateX(+12%);
    }
}

// for XS devices
@media (max-width: 575px) {
    .promo {
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 15px;
        }
    }

    .header {
        &__phone {
            font-size: 16px;
        }
        &__logo {
            img {
                width: 90%;
            }
        }
        &__official {
            padding-right: 25px;
        }
    }
    .title {
        font-size: 25px;
    }
    .advantage {
        padding: 50px 0 50px 0;
        &__item {
            max-width: 160px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }

    .feed-form {
        left: 18%;
    }

    .carousel {
        .prev, .next {
            display: none;
        }
    }

    .catalog {
        &-item {
            margin: 0 auto;
            margin-bottom: 20px;
            &__img {
                height: 180px;
            }
            &__list {
                li {
                    font-size: 16px;
                }
            }
        } 
    }
}