// for MEDIUM devices
@media (max-width: 991px) {
    .promo {
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .carousel {
        .prev, .next {
            display: none;
        }
    }
}

// for SMALL devices
@media (max-width: 767px) {
    .promo {
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 16px;
        }
    }
    .consultation {
        position: relative;
        &__descr {
            font-size: 18px;
            line-height: 20px;
            text-align: center;
        }
    }
    .title {
        &_left {
            text-align: center;
            min-width: 350px;
            font-size: 26px;
            line-height: 40px;
        }
    }
    .feed-form {
        position: absolute;
        left: 0;
        transform: translateX(+12%);
    }
    .carousel {
        .prev, .next {
            display: none;
        }
    }
}

// for XS devices
@media (max-width: 575px) {
    .promo {
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 15px;
        }
    }

    .header {
        &__phone {
            font-size: 16px;
        }
        &__logo {
            img {
                width: 90%;
            }
        }
        &__official {
            padding-right: 25px;
        }
    }
    .title {
        font-size: 25px;
    }
    .advantage {
        padding: 25px 0 25px 0;
        &__item {
            max-width: 160px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }

    .consultation {
        &_descr {
            font-size: 14px;
        }
    }

    .feed-form {
        left: -10%;
    }

    .carousel {
        .prev, .next {
            display: none;
        }
    }

    .catalog {
        &-item {
            margin: 0 auto;
            margin-bottom: 20px;
            &__img {
                height: 180px;
            }
            &__list {
                li {
                    font-size: 16px;
                }
            }
        } 
        &__tab {
            font-size: 10px;
        }
    }
    .comments {
        padding: 22px 0 36px 0;
        &_block {
            margin-top: 20px;
        }
        &_subtitle {
            font-size: 18px
        } 
        &_round {
            width: 130px;
            margin-right: 25px;
        }
        &_descr {
            margin-top: 15px;
        }     
    }
    .modals {
        width: 300px;
        &__close {
            right: 5px;
            line-height: 40px;
        }
        input {
            width: 95%;
        }
    }
    .button {
        &_submit {
            width: 95%;
        }
    }

    .footer {
        &__info {
            width: 230px;
            height: 180px;
            padding: 25px 25px 28px 26px;
        }
        &__addr {
            font-size: 15px;
            margin-bottom: 10px;
        }
        &__phone {
            font-size: 15px;
            margin-bottom: 10px;
        }
        &__social-item {
            width: 35px;
            height: 35px;
        }
    }
}